---
const year = new Date().getFullYear();
---
<footer class="site">
  <div class="wrap foot">
    <a class="brand" href="/"><span class="mark">K<em>·</em>Aesthetica</span></a>
    <div class="links">
      <a href="/category/routines/">Routines</a>
      <a href="/category/reviews/">Reviews</a>
      <a href="/category/ingredients/">Ingredients</a>
      <a href="/about/">About</a>
      <a href="/rss.xml">RSS</a>
    </div>
    <p class="fine">© {year} K-Aesthetica.</p>
  </div>
</footer>
